@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  overflow-x: hidden; 
  background-color: #141033ee;
  font-family: roboto;
  margin: 0;
  padding: 0;
}

.nav ul {
    list-style: none;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}
   
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}
   
.nav a:hover {
    background-color: #005f5f;
}
   
.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
   
@media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
    /* Option 1 - Display Inline */
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  .grid div {
    width: 95%;
    height: 100%;
    background: white;
    padding: .5em;
  }

  .search-bar {
    margin-top:3%;
    height: 46px;
    border-radius: 48px;
    border: 0.5px solid lightgrey;
    width: 30%;
    padding-right: 40px;
    padding-left: 10px;
}

.search-btn {
    height: 46px;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
    padding: 15px;
    font-size: 1.1em;
    position: absolute;
    right: 15px;
    border-left: 0.5px solid lightgrey;
} 